body {
  background-color: #212121;
}

.lam-content {
  color: #cacaca;
  /*padding: 40px 15px;*/
  text-align: center;
}

.lam-content a {
    color: #dd7700;
}

.lam-content a:visited {
    color: #cc6600;
}

.lam-content a:hover {
    color: #cc6600;
}

/*
.navbar-lam {
    color: #ff0000;
}

.navbar-brand:hover {
    color: #ff0000; !important
}

.navbar-brand li.active a, ul.nav li.active a {
    color: #ff0000; !important
}

ul.nav {
    color: #cacaca;
}

ul.nav li a, ul.nav li a:visited {
    color: #cacaca;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #cacaca;
}

ul.nav li.active a {
    color: #cacaca;
}
*/

    /*
.navbar-lam {
    color: #cacaca;
}
*/

/*
.navbar-lam .navbar-brand {
    color: #cacaca;
}

.nav > li > a:hover {
    color: #cc6600;
}

.navbar .brand > li > a {
    color: #cc6600;
}

.navbar .brand > li > a:hover {
    color: #cc6600;
}

.navbar-lam .navbar-brand a:hover {
    color: #cc6600; !important
}

.navbar-lam .navbar-nav > li > a,
.navbar-lam .navbar-brand > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-nav > .active > a,
.navbar-lam .navbar-brand > .active > a {
    color: #cacaca;
}

.navbar-lam .navbar-nav > li > a:hover,
.navbar-lam .navbar-brand > li > a:hover,
.navbar-lam .navbar-nav > li > a:focus,
.navbar-lam .navbar-brand > li > a:focus,
.navbar-lam .navbar-nav > .active > a:hover,
.navbar-lam .navbar-brand > .active > a:hover,
.navbar-lam .navbar-nav > .active > a:focus,
.navbar-lam .navbar-brand > .active > a:focus,
.navbar-lam .navbar-nav > .open > a,
.navbar-lam .navbar-brand > .open > a {
    color: #cc6600;
}
*/

.navbar-lam .navbar-brand, .navbar-lam .nav > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:hover {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:active {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:focus {
    color: #cacaca;
}

.navbar-lam .nav > li > a:hover {
    color: #cc6600;
}

.navbar-lam .nav > li > a:hover {
    color: #dd7700;
}

.navbar-lam .nav > li > a:active {
    color: #dd7700;
}

/*
.navbar .navbar-brand, .navbar .navbar-brand:focus, .navbar .navbar-brand:hover, .navbar .nav > li > a:hover {
.navbar .navbar-brand, .navbar .navbar-brand:hover, .navbar .nav > li > a:hover {
    color: #cc6600;
}
*/

