body {
  background-color: #212121;
}

.lam-content {
  width: 80%;
  color: #cacaca;
  text-align: center;
}

.lam-content a {
    color: #dd7700;
}

.lam-content a:visited {
    color: #cc6600;
}

.lam-content a:hover {
    color: #cc6600;
}

.navbar-lam .navbar-brand, .navbar-lam .nav > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:hover {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:active {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:focus {
    color: #cacaca;
}

.navbar-lam .nav > li > a:hover {
    color: #cc6600;
}

.navbar-lam .nav > li > a:hover {
    color: #dd7700;
}

.navbar-lam .nav > li > a:active {
    color: #dd7700;
}
