body {
  background-color: #212121;
}

.lam-content {
  width: 66%;
  color: #cacaca;
  /*padding: 40px 15px;*/
  text-align: center;
}

.lam-content a {
    color: #dd7700;
}

.lam-content a:visited {
    color: #cc6600;
}

.lam-content a:hover {
    color: #cc6600;
}

/* .grid-sizer, */
.grid-item {
  width: 33.333%;
  /* width: 20%; */
  /* width: 25%; */
  /* width: 10%; */
}

/* .grid-item--aspect { */
/* width: 66.666%; */
/* width: 50%; */
/*   width: 33.333%; */
/* } */

/* .grid-item--5stars { */
/*   width: 66.666%; */
/*   width: 50%; */
/*   width: 33.333%; */
/* } */

/* img.grid-item, figure.grid-item { */
.grid-item img {
  display: block;
  /* width: 33.333%; */
  max-width: 100%;
  /* border: 2px solid #212121; */
  padding: 0.2em;
  /* max-height: 100%; */
  object-fit: contain;
}

.navbar-lam .navbar-brand, .navbar-lam .nav > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:hover {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:active {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:focus {
    color: #cacaca;
}

.navbar-lam .nav > li > a:hover {
    color: #cc6600;
}

.navbar-lam .nav > li > a:hover {
    color: #dd7700;
}

.navbar-lam .nav > li > a:active {
    color: #dd7700;
}
