body {
  /* background-color: #212121; */
  background: rgba(33,33,33,1.0);
  /* margin: 0 auto; */
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

/* img:not([src]) { */
/*   visibility: hidden; */
/* } */

.grid-box {
  position: absolute;
  background: rgba(255,255,255,0.15);
}

#grid {
  /* overflow: hidden; */
  /* display: block; */
  position: relative;
  /* width: 100%; */
  /* color: #cacaca; */
  /* margin: 0 auto; */
  /* border: 0; */
  /* padding: 0; */
  /* text-align: center; */
}

.lam-content {
  /* overflow: hidden; */
  /* display: block; */
  /* position: relative; */
  /* width: 90%; */
  color: #cacaca;
  /* margin: 0 auto; */
  /* border: 0; */
  /* padding: 0; */
  text-align: center;
}

.lam-content a {
    color: #dd7700;
}

.lam-content a:visited {
    color: #cc6600;
}

.lam-content a:hover {
    color: #cc6600;
}

.navbar-lam .navbar-brand, .navbar-lam .nav > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:hover {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:active {
    color: #cacaca;
}

.navbar-lam .navbar-brand:focus, .navbar-lam .navbar-brand:hover > li > a:focus {
    color: #cacaca;
}

.navbar-lam .nav > li > a:hover {
    color: #cc6600;
}

.navbar-lam .nav > li > a:hover {
    color: #dd7700;
}

.navbar-lam .nav > li > a:active {
    color: #dd7700;
}
